{% extends 'base.html' %} {% block head %}
<title>Create</title>
<style>
    input {
        text-align: center;
    }
</style>
{% endblock %} {% block content %}
<div class="hero is-info is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container is-vcentered">
            <div class="columns is-centered">
                <div class="column is-6">
                    <form action="" class="box" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label has-text-centered is-size-3"> 商品名 </label>
                            <label class="label has-text-right is-size-6 has-text-grey">
                                {{date}}
                            </label>
                            <div class="control">
                                <input type="text" class="input" name="title" />
                            </div>
                        </div>
                        <label class="label has-text-left is-size-4"> 價格 </label>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" name="price" />
                            </div>
                        </div>
                        <label class="label has-text-left is-size-4"> 容量 </label>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" name="capacity" />
                            </div>
                        </div>
                        <label class="label has-text-left is-size-4"> 照片(只能選擇.png和.jpg檔案) </label>
                        <div class="field">
                            <input class="btn btn-primary" type="file" value="上傳" name="photo" />
                            <p>Upload files and see the output in browser console</p>
                        </div>
                        <label class="label has-text-left is-size-4"> 介紹 </label>
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="text"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">
                                    <input type="checkbox" class="checkbox" name="important" />
                                    <span class="has-text-danger is-size-5">重要</span>

                                    <input type="checkbox" class="checkbox" name="completed" />
                                    <span class="has-text-primary is-size-5">完成</span>
                                </label>
                            </div>
                        </div>
                        <div class="field has-text-centered">
                            <button type="submit" class="button is-warning">建立</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}