{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="1800" />
    <title>正義仙草茶</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/a71d5b79ce.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="bd-hello">
        <form class="hero is-warning" action="" method="POST">
            <img src="/media/static/title1.png" class="hero-body" alt="qwe">
            <img src="/media/static/title2.png" class="hero-body">
        </form>

        <div class="is-size-3 has-text-danger has-text-centered has-background-dark">
            我們的商品</div>


        <div class="box has-background-warning-light">
            {% for todo in todos %}
            {% if todo.completed %}
            <form class="columns is-mobile" action="" method="POST">
                <div align="center" class="column is-two-fifth">
                    <figure class=" ">
                        <img width="320" height="320" src="{{ todo.photo.url }}">
                    </figure>
                </div>

                <div class="column">
                    <h4 class="title is-4">{{todo.title}}</h4>
                    <h6 class="title is-6">價格:{{todo.price}}/瓶({{todo.capacity}}ml)</h6>
                    <span class="title is-5">商品說明</span><br>
                    <span class="subtitle is-6">{{todo.text}}</span>
                </div>
            </form>
            {% endif %}
            {% endfor %}

        </div>
        <div class="notification is-dark has-text-centered">
            <div class="columns">

                <div class="column ">
                    <iframe width="{{width}}" height="{{height}}" src="https://www.youtube.com/embed/{{src}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>
                <div class="column is-6 has-text-left">
                    <p class="title is-1 is-spaced has-text-white">製作過程</p>
                    <p class="subtitle is-6 has-text-white">
                        {% for t in textSplit %}
                        {{t}}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>

        </div>

        <div class="column has-background-danger-light">
            <h6 class="title is-6"> 聯絡我們</h6>
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-phone"></i>
                </span>
                <span>02-26633617</span>
            </span><br>

            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-envelope"></i>
                </span>
                <span>swilly10225@gmail.com</span>
            </span><br>

            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <a
                    href="https://www.google.com.tw/maps/place/%E6%AD%A3%E7%BE%A9%E4%BB%99%E8%8D%89%E8%8C%B6/@24.9908944,121.6561093,17.52z/data=!4m5!3m4!1s0x345d5516d402c549:0xdc58ed2cc82b1588!8m2!3d24.9909555!4d121.6564715?hl=zh-TW">
                    新北市石碇區石碇西街65-1號</a>
            </span>

        </div>
    </div>
    </div>

</body>

</html>
{% endblock %}